:root {
    --primary: #000;
    --bg:   #fff;
    --p: #5492CC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--bg);
    color: var(--primary);
  
}

.gambar {
    padding: 2rem 4rem 1rem 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gambar .utama {
    width: 35rem;
    height: 15rem;
    background-color: var(--primary);
    border-radius: 10px;
}

.gambar .utama img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gambar .extra {
    
    width: 35rem;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gambar .extra img {
    height: 45%;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
    
}

.informasi {
    width: 100%;
    display: flex;

    
}

.informasi .detail {
    padding: 0rem 1rem 1rem 4rem;
    width: 57rem;
    
}
.informasi .detail .row1 {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
    align-items: center;
    margin-bottom: 1rem;
}

.informasi .detail .row1 .harga h4{
    font-size: 1.5rem;
    color: var(--p);
}

.informasi .detail .row1 .harga p{
    font-weight: 200;
}

.informasi .detail .row1 button a {
    padding: 0.7rem 3rem;
    font-weight: 400;
    background-color: var(--p);
    border-radius: 10px;
    color: var(--bg);
    cursor: pointer;
}



.informasi .detail .row1 button a:hover {
    color: var(--p);
    background-color: var(--bg);
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}



.informasi .detail .row2 {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 14rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}
.informasi .detail .row2 .title {
    border-bottom: 1px solid var(--primary);
}

.informasi .detail .row2 .title h3 {
    font-size: 2rem;
}

.informasi .detail .row2 .title .star {
    display: flex;
    padding: 0.5rem 0rem;
    align-items: center;
    color: var(--p);
}

.informasi .detail .row2 .title .star h5 {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.informasi .detail .row2 .title .star h5 span {
    color: var(--primary);
    font-weight: 200;
}

.informasi .detail .row2 .title p {
    padding-bottom: 0.5rem;
    font-weight: 100;
}

.informasi .detail .row2 .deskripsi {
    padding-top: 0.5rem;
    font-weight: 100;
    text-align: justify;
}

.informasi .detail .row3 {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 9rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

.informasi .detail .row3 h4{
    font-size: 1rem;
    font-weight: bold;
}

.informasi .detail .row3 .content {
    padding-top: 1.5rem;
    display:flex;
    justify-content: space-between;
    
    text-align: center;
}

.informasi .detail .row3 .content .isi {
    max-width: 30%;
    color: var(--p);
}

.informasi .detail .row3 .content p {
    color: var(--primary);
    font-weight: 400;
    margin-top: 0.5rem;
}

.informasi .detail .row4 {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 9rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

.informasi .detail .row4 h4 {
    font-size: 1rem;
    font-weight: bold;
}

.informasi .detail .row4 .content {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.informasi .detail .row4 .content .isi {
    color: var(--p);
    width: 10rem;
    margin-bottom: 1rem;
    display: flex;
    
    align-items: center;
}

.informasi .detail .row4 .content .isi P {
    margin-left: 0.5rem;
    color: var(--primary);
}

.lokasi {
    width: 16rem;
    height: 39rem;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

.lokasi h5 {
    margin-bottom: 0rem;
    padding: 1rem 1rem;
    font-size: 1rem;
}
.lokasi iframe {
    padding: 0rem 0rem;
    border-radius: 30px;
    width: 100%;
    height: 10rem;
}

.lokasi .star {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    padding: 0rem 1rem;
}
.lokasi .star h6 {
    padding-left: 0.5rem;
    font-size: 0.9rem;
}
.lokasi p {
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.room {
    padding: 1rem 5rem 1rem 4rem;
}
.room h5 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;

}

.room .hotel {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    padding-right: 1rem;
    height:20rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.25);
    display: flex;
    
}

.room .hotel .gambar {
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: black;
}



.room .hotel .gambar img {
    
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.room .hotel .formasi {
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 1rem;
    height: 100%;
    width: 60%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.room .hotel .formasi .title {
    height: 30%;
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.room .hotel .formasi .title h6 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.room .hotel .formasi .title p {
    font-weight: 400;
    color: var(--p);
}

.room .hotel .formasi .extra {
    margin-top: 1rem;
    width: 100%;
    height: 70%;
    display: flex;
    
}

.room .hotel .formasi .extra .fasilitas {
    display: flex;
    width: 70%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 1rem;
}

.room .hotel .formasi .extra .fasilitas .menu {
    display: flex;
    align-items: center;
}

.room .hotel .formasi .extra .fasilitas .menu p {
    margin-left: 1rem;
    margin-right: 4rem;
}

.room .hotel .formasi .extra .harga {
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 1rem;
}

.room .hotel .formasi .extra .harga h5{
    margin: 0rem 0rem 0.1rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--p);
}

.room .hotel .formasi .extra .harga p{
    font-weight: 200;
    margin-bottom: 2rem;
}

.room .hotel .formasi .extra .harga button {
    padding:  1rem 3rem ;
    background-color: var(--p);
    color: var(--bg);
    border-radius: 1rem;
    cursor: pointer;
}

.room .hotel .formasi .extra .harga button:hover{
    color: var(--p);
    background-color: var(--bg);
    box-shadow: 0px 5px 12px rgba(0,0,0,0.25);
}






