:root {
    --primary: #000;
    --bg:   #fff;
    --p: #5492CC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

a {
    color: var(--bg);
}
a:hover {
    color: var(--p);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--bg);
    color: var(--primary);
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2%;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 9999;
    background-color: var(--bg);
}

.navbar .logo {
    color: var(--primary);
    padding-left: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: none;
}
.navbar .menubar a {
    color: var(--primary);
    display: inline-block;
    margin: 0.1rem 2rem;
    font-weight: 500;
}

.navbar .menubar a:hover {
    color: var(--p);
}

.navbar .menubar a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--p);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .menubar a:hover::after{
    transform: scaleX(0.5);
}

.navbar .menubar-extra {
    display: flex;
    align-items: center;
}

.navbar .menubar-extra p{
    font-size: 1rem;
    margin: 0rem 1rem;
}

.navbar .menubar-extra img {
    width: 2.2rem;
    border-radius: 50%;
}



.tours .cover {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/monaslanscap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
}

.tours .cover .row {
    width: 50%;
    height: 20rem;
    background-color: var(--bg);
    border-radius: 5px;
}

.tours .cover .row .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 0 2px 0 var(--primary);
    border-radius: 5px;
}

.tours .cover .row .title h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--p);
}

.tours .cover .row .tombol {
    display: flex;
    padding-left: 2rem;
}

.tours .cover .row .tombol button{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.3rem 1.5rem;
    background-color: var(--bg);
    color: var(--primary);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.tours .cover .row .tombol button:hover {
    color: var(--bg);
    background-color: var(--p);
}

.tours .cover .row .form {
    padding-left: 3rem;
}

.tours .cover .row .form .input-group {
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 5px;
    margin-top: 1rem;
    width: 90%;
    border: 1px solid var(--primary);
}

.tours .cover .row .form .input-group input {
    width: 100%;
    padding-left: 1rem;
}

.tours .cover .row .form .tanggal{
    
    padding-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    width: 90%;
    border: 1px solid var(--primary);
    
}

.tours .cover .row .form .tanggal .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tours .cover .row .form .tanggal .content .awal {
   display: flex;
   
}

.tours .cover .row .form .tanggal .content .awal input {
    width: 100%;
    padding-left: 1rem;
}

.tours .cover .row .cari {
    text-align: center;
    margin-top: 2.3rem;

}

.tours .cover .row .cari button {
    padding: 0.5rem 5rem ;
    font-size: 1rem;
    background-color: var(--p);
    color: var(--bg);
    border-radius: 1rem;
    border: 1px solid var(--bg);
    cursor: pointer;
}

.tours .cover .row .cari button:hover {
    color: var(--p);
    background-color: var(--bg);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.tours .kota {
    position: absolute;
    top: 33rem;
    height: 30rem;
    display: flex;
    padding: 1rem 5rem 1rem 5rem;
    justify-content: space-between;
}

.tours .kota .content {
    margin: 0rem 1rem ;
    height: 22rem;
    width: 12rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.tours .kota .content img {
    border-radius: 10px;
    width: 12rem;
    height: 14rem;
    margin-bottom: 0.5rem;
}

.tours .kota .content p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight: 100;
    font-size: 0.8rem;
}

.tours .kota .content h5 {
    margin-left: 1rem;
    font-size: 1rem;
}

.tours .kota .content span {
    color: var(--p);
}

.destination {
    margin-top: 20rem;
    height: 40rem;
    padding: 1rem 6rem 1rem 6rem;
}

.destination h4 {
    margin-bottom: 1rem;
    font: bold;
}

.destination .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination .content {
    margin: 1rem;
    width: 30rem;
    height: 14rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.destination .content img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.destination .content .title {
    display: flex;
    padding: 1rem 2rem;
    justify-content: start;
}

.destination .content .title h5 {
    font-weight: bold;  
    font-size: 1rem; 
    
}

.destination .content .title h5 span {
    color: var(--p);
}

.destination .content .title p {
    padding-left: 0.5rem;
    margin-right: 12rem;
    font-size: 0.8rem;
    font-weight: 100;
    justify-items: center;
}

.destination .content .star {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0rem 2rem;
    color: var(--p);
}

.destination .content .star p {
    padding-left: 0.5rem;    
}
.destination .content .star p span {
    font-weight: 100;  
    color: var(--primary);
}

.hotel {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 30rem;
}

.hotel h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hotel .row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: space-between;
}

.hotel .row .content {
    margin-bottom: 1rem;
    height: 10rem;
    width: 27rem;
    display: flex;
    
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.hotel .row .content img {
    height: 100%;
    width: 40%;
    border-radius: 10px;
}

.hotel .row .content .title {
    padding: 1rem 1rem;
}

.hotel .row .content .title .atas {
    display: flex;
    align-items: center;
}
.hotel .row .content .title .atas h4{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.hotel .row .content .title .nilai {
    display: flex;
    color: var(--p);
}

.hotel .row .content .title h5 {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--p);
}

.hotel .row .content .title .lokasi {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-weight: 100;
}





